<ul class="breadcrumbs">
  <li><%= link_to 'Home', '/' %></li>
  <li><%= link_to 'Features', '#' %></li>
  <li class="unavailable"><%= link_to 'Gene Splicing', '#' %></li>
  <li class="current"><%= link_to 'Cloning', '#' %></li>
</ul>
