<header id="header" class="clearfix" role="banner">

  <!-- start: Branding -->
  <div id="branding" class="branding-elements clearfix">

    
    <!-- start: Site name and Slogan hgroup -->
    <hgroup id="name-and-slogan">

      <h1 id="site-name">
      <%= link_to '/', 'Beyla Homepage' %></h1>

      <% link_to '/' do %>
      	<%= image_tag lorem.image('250x100', :text => 'logo') %>
      <% end %>
    </hgroup><!-- /end #name-and-slogan -->
    
  </div><!-- /end #branding -->
  
  <!-- region: Header -->
  
</header>
