<!-- Basic orbit markup -->
<ul data-orbit data-options="timer_speed:5000;">
  <li data-orbit-slide="slide-1">
    <%= image_tag lorem.image('1200x400', :text => 'img1', :random_color => true) %>
    <div class="orbit-caption">Image 1, the first image</div>
  </li>
  <li data-orbit-slide="slide-2">
       <%= image_tag lorem.image('1200x400', :text => 'img2', :random_color => true) %>
    <div class="orbit-caption">Image 2, the second image!</div>
  </li>
  <li data-orbit-slide="slide-3">
        <%= image_tag lorem.image('1200x400', :text => 'img3', :random_color => true) %>
    <div class="orbit-caption">Image 3, the thrid image!</div>
  </li>
</ul>
