<div class="large-12 columns hide-for-small">
    <form>
        <div class="large-7 large-offset-3 columns">
            <input type="text" placeholder="Search">
        </div>
        <div class="large-2 columns">
            <input type="submit" value="Search" class="button round tiny">
        </div>
    </form>
</div>