<nav id="sidebar" class="clearfix" role="contentinfo">
 <ul class="side-nav">
  <li class="active"><%= link_to 'Link 1', '#' %></li>
  <li><%= link_to 'Link 2', '#' %></li>
  <li class="divider"></li>
  <li><%= link_to 'Link 3', '#' %></li>
  <li><%= link_to 'Link 4', '#' %></li>
</ul>
</nav>